---
// import { Markdown } from 'astro/components'
import { site } from '../../site.config'
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero';
import Introduce from '../../introduce.mdx'

---

<Layout 
	title={site.site_name}
	language={site.language}
	keywords={site.keywords}
	description={site.description}
>
	<main>
		<div class="mt-10">
			<Introduce />
		</div>
	</main>
</Layout>

<style>
</style>
