---
import { Icon } from 'astro-icon'
export interface Props {
	text: string
  url: string
  icon: string
}

const { text, url, icon } = Astro.props
---
<a href={url} class={`text-sm px-1 py-0.5 text-zinc-800 no-underline border-b-2 border-gray-300 hover:border-blue-500 transition-all h-5`}>
  {icon?<Icon name={icon} class="w-5 mb-1 inline-block" v-if="icon" />:''}
  {text}</a>