---
import { Icon } from 'astro-icon'
export interface Props {
	text: string
  url: string
  color: string
  icon: string
}

const { text, url, color, icon } = Astro.props
---

<a href={url} class={`
  inline-flex items-center text-sm
  font-bold px-1 py-0.5 border-3 text-zinc-800 no-underline`
} style={`border-bottom: 2px solid ${color?color:'#0EA5E9'}`}>
  <Icon name={icon} class="w-5 mr-1" />
  {text}
</a>