---
import Header from '../components/Header'
export interface Props {
	title: string
	language: string
	keywords: string
	description: string
}

const { title, language, keywords, description } = Astro.props
---

<!DOCTYPE html>
<html lang={ language }>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords"  content={ keywords } />
    <meta name="description" content={ description } />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title }</title>
	</head>
	<body class="font-sans ">
		<Header title={ title } />
		<div class="p-4 max-w-3xl mx-auto">
			<slot />
		</div>
	</body>
</html>
<style is:global>
@tailwind base;

</style>
